/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/***************************
  Less Partials Imports
***************************/
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.burger {
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid white;
  width: 32px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid white;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid white;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check {
  display: none;
}
.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  margin-top: 5px;
}
.burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.navigation {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}
.burger-check:checked ~ .navigation {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 25px;
  padding: 5px 0;
}
li a {
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
}
/***************************
  Header Logo Style Rules
***************************/
header {
  background: #fff;
}
header #burger-wrapper,
header #logo-wrapper,
header #cog-wrapper {
  height: inherit;
  float: left;
}
#header-tagline {
  text-align: center;
  border-bottom: solid 1px #E8E8E8;
}
#header-tagline span {
  display: inline-block;
  padding: 10px 0;
}
#burger-wrapper {
  position: relative;
  background: #0079c1;
  text-align: center;
  border-bottom: solid 1px #E8E8E8;
}
#burger-wrapper .burger {
  margin-top: 25px;
}
#logo-wrapper {
  position: relative;
  border-bottom: solid 1px #E8E8E8;
}
#icons-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: none;
}
#icons-wrapper a {
  text-shadow: none;
  color: transparent;
}
#icons-wrapper #nav-search {
  background: url("../assets/icons/zoom_icon&32.png") no-repeat center center;
  border-left: solid 1px #E8E8E8;
  border-right: solid 1px #E8E8E8;
  float: left;
}
#icons-wrapper #icoSettings {
  background: url("../assets/icons/cog_icon&32.png") no-repeat center center;
  float: left;
}
#icons-wrapper #icoSettings:hover {
  animation: spin 1s linear 1;
}
.icon {
  display: inline-block;
  width: 75px;
  height: 75px;
}
/***************************
  Navigation Style Rules
***************************/
.footer {
  background: #2f3a42;
  color: #e1e2e3;
  height: 38px;
  line-height: 38px;
  margin-top: 2vh;
}
#footerWrap {
  margin: 0 auto;
  padding: 0 1%;
  overflow: hidden;
}
.footerBlurb {
  float: left;
}
.footerLinks {
  float: right;
}
.footerLinks a {
  text-decoration: none;
  color: #e1e2e3;
}
.footerLinks a::after {
  content: "•";
  margin: 0 8px;
  opacity: 0.6;
  color: #e1e2e3;
}
.footerLinks a:last-child::after {
  content: "";
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: #000000;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}
/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}
/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}
/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/***************************
  Preamble: Globals
***************************/
* {
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
}
em {
  font-style: italic;
}
/***************************
  Functions & Mixins
***************************/
.displayHidden {
  display: none;
}
.rotateOnHover {
  animation: spin 1s linear 1;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(135deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(135deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
/***************************
  Widget Styles
***************************/
.wPageLabel {
  background: #2c648e;
  color: #ffffff;
  border-top: 3px solid #f58220;
  height: 32px;
  line-height: 29px;
  padding: 0 1%;
}
.rhsMiniBox {
  width: 50%;
  position: relative;
  overflow: hidden;
  height: 300px;
  height: 30vh;
  float: left;
}
.rhsMiniBox img {
  width: 100%;
  height: 100%;
}
.rhsMiniBox .caption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  min-height: 70px;
}
.rhsMiniBox .caption p:first-of-type {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 1vh;
}
.rhsMiniBox .caption .pDesc {
  font-size: 10pt;
  min-height: 40px;
}
.lhsLargeBox {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 300px;
  height: 60vh;
}
.lhsLargeBox img {
  width: 100%;
  height: 100%;
}
.lhsLargeBox .caption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  min-height: 70px;
}
.lhsLargeBox .caption p:first-of-type {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 1vh;
}
.lhsLargeBox .caption .pDesc {
  font-size: 10pt;
  min-height: 40px;
}
.lhsLargeBox .eyecatchingtext {
  font-size: 24pt;
  width: 360px;
  position: absolute;
  color: #ffffff;
  bottom: 80px;
  left: 40px;
}
.lhsLargeBox .eyecatchingtext span {
  background: #2f3a42;
}
.wFeatured-common {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.wFeatured-common img {
  width: 100%;
  height: 100%;
}
.wFeatured-common .caption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  min-height: 70px;
}
.wFeatured-common .caption p:first-of-type {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 1vh;
}
.wFeatured-common .caption .pDesc {
  font-size: 10pt;
  min-height: 40px;
}
#divFeaturedArticlesWrapper {
  width: 91.66%;
  height: 60vh;
  overflow: hidden;
  border: solid white 5px;
  margin: 0 auto;
}
#divFeaturedArticlesWrapper #divFeaturedLHS {
  width: 50%;
  float: left;
}
#divFeaturedArticlesWrapper #divFeaturedRHS {
  width: 50%;
  float: right;
}
.rhsMiniBox {
  border-left: solid white 5px;
}
#bot-row .rhsMiniBox {
  border-top: solid white 5px;
}
/***************************
  404 Error Page Style
***************************/
.wrapperMain {
  height: 80vh;
}
.wrapperMain .center {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  /* margin is -0.5 * dimension */
  margin-top: -25px;
}
.wrapperMain .center #errorTxt span {
  font-size: 36pt;
  color: #0079c1;
  border: 1px solid #0079c1;
  border-radius: 16px;
  padding: 5px 5px;
}
.wrapperMain .center p {
  margin: 10px 10px;
  color: #f58220;
}
/***************************
  world/aussie/VIC/all news
***************************/
h1 {
  font-size: 14pt;
  margin: 2vh 2vh;
  font-weight: bold;
  text-align: right;
}
h1 span {
  border-bottom: solid #f58220 3px;
}
.categoryWrapper {
  width: 91.66%;
  overflow: hidden;
  margin: 0 auto;
}
.categoryWrapper .routeLHS {
  width: 70%;
  float: left;
}
.categoryWrapper .routeRHS {
  width: 30%;
  float: right;
}
.div1 {
  width: 32%;
  float: left;
  margin-right: 1.3%;
}
.div1 .articleDiv {
  margin-bottom: 2vh;
  background-color: #e1e2e3;
}
.div1 .articleDiv img {
  width: 100%;
  height: 100%;
}
.div1 .articleDiv .caption {
  padding: 1vh;
}
.div1 .articleDiv .caption h2 {
  font-size: 12pt;
  font-weight: bold;
}
.div1 .articleDiv .caption p {
  font-size: 9pt;
  margin-top: 1vh;
}
.div2 {
  width: 32%;
  float: left;
  margin-right: 1.3%;
}
.div2 .articleDiv {
  margin-bottom: 2vh;
  background-color: #e1e2e3;
}
.div2 .articleDiv img {
  width: 100%;
  height: 100%;
}
.div2 .articleDiv .caption {
  padding: 1vh;
}
.div2 .articleDiv .caption h2 {
  font-size: 12pt;
  font-weight: bold;
}
.div2 .articleDiv .caption p {
  font-size: 9pt;
  margin-top: 1vh;
}
.div3 {
  width: 32%;
  float: left;
  margin-right: 1.3%;
}
.div3 .articleDiv {
  margin-bottom: 2vh;
  background-color: #e1e2e3;
}
.div3 .articleDiv img {
  width: 100%;
  height: 100%;
}
.div3 .articleDiv .caption {
  padding: 1vh;
}
.div3 .articleDiv .caption h2 {
  font-size: 12pt;
  font-weight: bold;
}
.div3 .articleDiv .caption p {
  font-size: 9pt;
  margin-top: 1vh;
}
.panel-strips {
  width: 32%;
  float: left;
  margin-right: 1.3%;
}
.panel-strips .articleDiv {
  margin-bottom: 2vh;
  background-color: #e1e2e3;
}
.panel-strips .articleDiv img {
  width: 100%;
  height: 100%;
}
.panel-strips .articleDiv .caption {
  padding: 1vh;
}
.panel-strips .articleDiv .caption h2 {
  font-size: 12pt;
  font-weight: bold;
}
.panel-strips .articleDiv .caption p {
  font-size: 9pt;
  margin-top: 1vh;
}
.blurb {
  padding: 0 0 2vh 0;
  overflow: hidden;
}
.blurb img {
  width: 48px;
  height: 48px;
  float: left;
  display: block;
}
.blurb p {
  float: left;
  max-width: 320px;
  margin-left: 1vh;
}
/***************************
  Landing Page Style
***************************/
#divMidSection {
  width: 91.66%;
  overflow: hidden;
  margin: 0 auto;
}
#divMidSection #divCategoriesWrap {
  width: 60%;
  float: left;
}
#divMidSection #divCategoriesWrap .divCat {
  width: 120px;
  float: left;
  margin-right: 2.5vh;
}
#divMidSection #divCategoriesWrap .divCat p {
  background: white;
  text-align: center;
  padding: 2vh 0;
}
#divMidSection #divCategoriesWrap .divCat img {
  width: 100%;
  height: 100%;
}
#divMidSection #divMiscellaneousWrap {
  width: 40%;
  float: right;
}
#divMidSection #divMiscellaneousWrap .ps-link {
  width: 100%;
  height: 32px;
  margin-bottom: 1vh;
}
#divMidSection #divMiscellaneousWrap .ps-link div {
  width: 32px;
  height: 32px;
  background-color: #2f3a42;
  color: #f58220;
  text-align: center;
  line-height: 32px;
  font-weight: bold;
  border-radius: 32px;
  float: left;
}
#divMidSection #divMiscellaneousWrap .ps-link a {
  float: left;
  margin-left: 1vh;
  display: inline-block;
  width: 80%;
  text-decoration: none;
}
