/***************************
  Third Party/Vendor Imports
***************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/***************************
  Less Partials Imports
***************************/
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
/***************************
  Header Logo Style Rules
***************************/
header {
  height: 75px;
  background: #fff;
}
/*same as header a*/
.header__logo {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  max-width: 350px;
  display: block;
  float: left;
}
.header__logo img {
  max-width: 100%;
  height: 75px;
}
/***************************
  Navigation Style Rules
***************************/
.menu {
  margin: 0 auto;
}
.menu nav {
  height: 75px;
}
.menu nav a:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 0;
  left: 10%;
  background-color: #F58220;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.menu nav a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  height: 75px;
  line-height: 75px;
  width: 25%;
  float: left;
  text-align: center;
}
.menu nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/***************************
  Header Icons Style Rules
***************************/
#txtSearchBar {
  display: none;
}
#auxLinkIcons {
  position: absolute;
  right: 0;
  top: 0;
}
#auxLinkIcons a:first-of-type {
  background: url("../assets/icons/zoom_icon&32.png") no-repeat center center;
}
#auxLinkIcons #icoSettings {
  background: url("../assets/icons/cog_icon&32.png") no-repeat center center;
}
#auxLinkIcons #icoSettings:hover {
  animation: spin 1s linear 1;
}
.icon {
  display: inline-block;
  width: 75px;
  height: 75px;
}
/***************************
  Preamble: Globals
***************************/
* {
  box-sizing: border-box;
}
body {
  background: beige;
  font-family: 'Source Sans Pro', sans-serif;
}
/***************************
  Functions & Mixins
***************************/
.displayHidden {
  display: none;
}
.rotateOnHover {
  animation: spin 1s linear 1;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(135deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(135deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
/***************************
  Widget Styles
***************************/
.wPageLabel {
  background: #55B4E6;
  color: #ffffff;
  border-top: 3px solid #f58220;
  height: 32px;
  line-height: 29px;
  padding: 0 1%;
}
.rhsMiniBox {
  width: 50%;
  position: relative;
  overflow: hidden;
  height: 300px;
  height: 240px;
  float: left;
}
.rhsMiniBox img {
  width: 100%;
  height: 100%;
}
.rhsMiniBox .caption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
}
.lhsLargeBox {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 300px;
  height: 480px;
}
.lhsLargeBox img {
  width: 100%;
  height: 100%;
}
.lhsLargeBox .caption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
}
.wFeatured-common {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.wFeatured-common img {
  width: 100%;
  height: 100%;
}
.wFeatured-common .caption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
}
#divFeaturedArticlesWrapper {
  width: 100%;
  height: 480px;
  overflow: hidden;
  border: 5px solid white;
}
#divFeaturedArticlesWrapper #divFeaturedLHS {
  width: 50%;
  float: left;
}
#divFeaturedArticlesWrapper #divFeaturedRHS {
  width: 50%;
  float: right;
}
.divFeaturedRHSSubWrapper {
  border-left: 5px solid white;
}
