@footer-height: 38px;

.footer {
  background: @ps-dark-navy;
  color: @ps-whitesmoke;
  height: @footer-height;
  line-height: @footer-height;
  margin-top: 2vh;
}

#footerWrap {
  margin: 0 auto;
  padding: @padding-landing;
  overflow: hidden;
}

.footerBlurb {
  float: left;
}

.footerLinks {
  float: right;
  a {
    text-decoration: none;
    color: @ps-whitesmoke;
    &:hover {

    }
  }
}

.footerLinks a::after {
  content: "•";
  margin: 0 8px;
  opacity: 0.6;
  color: @ps-whitesmoke;
}

.footerLinks a:last-child::after {
  content: "";
}