/***************************
  Third Party/Vendor Imports
***************************/
@import "vendor/reset.less";
/***************************
  Less Partials Imports
***************************/
@import "responsive.less";
/***************************
  Preamble: Global Vars
***************************/
@img-path: "../assets/";

@background-color: beige;

@navbar-height: 48px;
@navbar-item-width: 100px;
@navbar-padding: 4px 0;
@navbar-line-height: 48px;
@navbar-background-color: lightgreen;
@navbar-link-color: mediumvioletred;
@navbar-link-hover-color: palevioletred;

* {
  box-sizing: border-box;
}

body {
  background: @background-color;
}

header {
  height: @navbar-height;
  background: @navbar-background-color;
}

.header__logo, .menu {
  display: block;
  height: @navbar-height;
  float: left;
}

.header__logo {
  background: skyblue;
}

.menu {
  background: cadetblue;
  a, input {
    display: inline-block;
    height: @navbar-height;
    line-height: @navbar-height;
  }
  a {
    background: @navbar-link-color;
    width: 25%;
    float: left;
    text-align: center;
    text-decoration: none;
    &:hover {
      background: @navbar-link-hover-color;
    }
  }
}

.auxControlWrapper {
  #txtSearchBar {
    .displayHidden();
  }
  #auxLinkIcons {
    float: right;

    a {
      float: left;
    }

    a:first-of-type {
      .icon();
      border-right-style: none;
      background: url("@{img-path}/zoom_icon&32.png") no-repeat center center;
    }

    #icoSettings {
      background: url("@{img-path}/cog_icon&32.png") no-repeat center center;
    }
  }
}

.icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 1px silver solid;
}



